In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('liste.csv', sep=';', encoding='latin-1')

df.head()

,NOM,NOM_ALPHA,CODE,ARTICLE,NOM_LONG,CAPITALE
0,Afghanistan,Afghanistan,AFG,l',République islamique d'Afghanistan,Kaboul
1,Afrique du Sud,Afrique du Sud,ZAF,l',République d'Afrique du Sud,Prétoria
2,Albanie,Albanie,ALB,l',République d'Albanie,Tirana
3,Algérie,Algérie,DZA,l',République algérienne démocratique et populaire,Alger
4,Allemagne,Allemagne,DEU,l',République fédérale d'Allemagne,Berlin

In [6]:
df = df.drop(['NOM_ALPHA', 'CODE', 'ARTICLE', 'NOM_LONG'], axis=1)

In [10]:
na_df = df[df.isna().any(axis=1)]
na_df

         NOM CAPITALE
87    Israël      NaN
191  Vatican      NaN

In [11]:
df.to_csv("liste_clean.csv")